* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #707070;
}

/* header */

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    background-color: #000;
    color: white;
    margin-bottom: 20px;
    
}

.nav-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.item-nav {
    margin: 5px;
    text-decoration: none;
    color: white;
}


/*main*/


/*container fuvol*/
.content-fuvol {
    font-size: 25px;
    text-align: justify;
    padding: 12px;
   
}

.container-fuvol {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

img {
    height: 130px;
    width: 115px;

}

.fuvol {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px 4px 2px;
    background-color: white;
}

.img-fuvol {
    margin: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/*container idolo*/

.idol {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 2px 4px 2px;
    align-items: center;
    background-color: white;
}

.h2-idol {
    margin: 10px;
    font-size: 20px;
    text-align: start;
}

.img-idol {
    margin: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 700px;
}
.img-idol img {
    height: 370px;
    width: 400px;
}


/*container music*/

.container-music {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.content-music{
    font-size: 25px;
    text-align: justify;
    padding: 15px;
}

.music{
    width: 500px;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 2px 4px 2px; 
    background-color: white;
}

/*container favorite*/
.favorite-artist{
    width: 500px;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px 4px 2px;
    background-color: white; 

}

.h2-favorite-artist{
    margin: 10px;
    font-size: 20px;

}

.img-favorite-artist{
    margin: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 700px;
}

.img-favorite-artist img{
    height: 370px;
    width: 400px;

}


.food {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
}